* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f9f9f9;
    color: #252525;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    font-weight: 400;
}

.container {
    /* max-width: 1140px; */
    max-width: 1400px;
    margin: 0 auto;
}

.testing-framework header {
    background-color: #ededed;
    padding-top: 20px;
    padding-bottom: 20px;
}

.testing-framework header .logo {
    margin-bottom: 10px;
    color: #430d8a;
}

.testing-framework header #failures-num {
    color: #ba0505;
}