* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f9f9f9;
    color: #252525;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    font-weight: 400;
}

.container {
    /* max-width: 1140px; */
    max-width: 1400px;
    margin: 0 auto;
}

.testing-framework header {
    background-color: #ededed;
    padding-top: 20px;
    padding-bottom: 20px;
}

.testing-framework header .logo {
    color: #430d8a;
}

.results {
    position: absolute;
    top: 15px;
    left: 220px;
}

.results #failures-num {
    color: #ba0505;
}

footer {
    background-color: #f9f9f9;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.warning-icon {
    width: 120px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    filter: brightness(95%);
}

.warning-line {
    width: 100%;
    background-color: #e30000;
    height: 25px;
    position: absolute;
    top: 72px;
}